@page "/intervenciones"
@inject IIntervencionService IntervencionService
@inject NavigationManager NavigationManager

<PageTitle>Intervenciones</PageTitle>

<h3>Tabla de intervenciones</h3>
 
<table class="table">
    <thead>
        <tr>
            <th>Estado</th>
            <th>Tipo</th>
            <th>Fabrica</th>
            <th>Linea</th>
            <th>Maquina</th>
            <th>Urgencia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var intervencion in IntervencionService.Intervenciones)
        {
            <tr>
                <td>@intervencion.EstadoIntervencion.Descripcion</td>
                <td>@intervencion.TipoIntervencion.Descripcion</td>
                <td>@intervencion.Ticket.Maquina.LineaProduccion.Fabrica.Descripcion</td>
                <td>@intervencion.Ticket.Maquina.LineaProduccion.Descripcion</td>
                <td>@intervencion.Ticket.Urgencia.Descripcion</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowIntervencion(intervencion.Id))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>            
        } *@
    </tbody>
</table>
<button class="btn btn-primary" @onclick="CreateIntervencion"> Crear Intervencion</button> 

@code{
    protected override async Task OnInitializedAsync()
    {
        await IntervencionService.GetIntervenciones();
    }

    void ShowIntervencion(int id) {
        NavigationManager.NavigateTo($"/intervencion/{id}");
    }

    void CreateIntervencion() {
        NavigationManager.NavigateTo("/intervencion");
    }
}
