@page "/intervenciones"
@inject IIntervencionServicePages IntervencionService
@inject NavigationManager NavigationManager

<PageTitle>Intervenciones</PageTitle>

<h3>Tabla de intervenciones</h3>

@if (IntervencionService.Intervenciones == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Tipo</th>
                <th>Fabrica</th>
                <th>Linea</th>
                <th>Maquina</th>
                <th>Urgencia</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var intervencion in IntervencionService.Intervenciones)
            {
                <tr>
                    <td>@intervencion.EstadoIntervencion.Descripcion</td>
                    <td>@intervencion.TipoIntervencion.Descripcion</td>
                    <td>@intervencion.Ticket.Maquina.LineaProduccion.Fabrica.Descripcion</td>
                    <td>@intervencion.Ticket.Maquina.LineaProduccion.Descripcion</td>
                    <td>@intervencion.Ticket.Maquina.Descripcion</td>
                    <td>@intervencion.Ticket.Urgencia</td>
                    <td>
                        <button class="btn btn-primary" @onclick="(() => ShowIntervencion(intervencion.Id))"><i class="oi oi-pencil"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="CreateIntervencion">Crear Intervencion</button>
    <ul class="pagination">
        <li class="page-item">
            <i class="page-link">
                <div class="oi oi-chevron-left" @onclick="PrevPage"></div>
            </i>
        </li>
        <li class="page-item">
            <i class="page-link">
                <div class="oi oi-chevron-right" @onclick="NextPage"></div>
            </i>
        </li>
    </ul>
}


@code{
    private int _offset = 1;
    private int _take = 10;

    protected override async Task OnInitializedAsync()
    {
        await UpdateIntervenciones();
    }

    async Task UpdateIntervenciones()
    {
        await IntervencionService.GetAllDataFromIntervenciones(_offset, _take);
    }

    void ShowIntervencion(int id) {
        NavigationManager.NavigateTo($"/intervencion/{id}");
    }

    void CreateIntervencion() {
        NavigationManager.NavigateTo("/intervencion");
    }

    async Task PrevPage()
    {
        if (_offset > 1)
        {
            _offset--;
            await UpdateIntervenciones();
        }
    }

    async Task NextPage()
    {
        _offset++;
        await UpdateIntervenciones();
    }
}
