@page "/ticket"
@inject ITicketServicePages TicketService
@inject NavigationManager NavigationManager

<PageTitle>Crear un nuevo Ticket</PageTitle>
<h3>Nuevo Ticket</h3>

@if (isLoading)
{
    <p><em>Cargando...</em></p>
}
else
{
    <EditForm Model="Dto" OnValidSubmit="CreateTicket">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="fabrica">Fabrica</label>
            <InputSelect class="form-select" @bind-Value="fabricaId" id="fabrica">
                <option>-- Sin Opcion --</option>
                @foreach (var fabrica in TicketService.Fabricas)
                {
                    <option value="@fabrica.Id">@fabrica.Descripcion</option>
                }
            </InputSelect>
            <label for="linea">Linea</label>
            <InputSelect class="form-select" @bind-Value="lineaId" id="linea">
                <option>-- Sin Opcion --</option>
                @foreach (var linea in TicketService.Lineas.Where(e => e.FabricaID == fabricaId).ToList())
                {
                    <option value="@linea.Id">@linea.Descripcion</option>
                }
            </InputSelect>
            <label for="maquina">Maquina</label>
            <InputSelect class="form-select" @bind-Value="Dto.MaquinaID" id="maquina">
                <option>-- Sin Opcion --</option>
                @foreach (var maquina in TicketService.Maquinas.Where(e => e.LineaProduccionID == lineaId))
                {
                    <option value="@maquina.Id">@maquina.Descripcion</option>
                }
            </InputSelect>
            <label for="categoria">Categoria</label>
            <InputSelect class="form-select" @bind-Value="Dto.CategoriaID" id="categoria">
                <option>-- Sin Opcion --</option>
                @foreach (var categoria in TicketService.Categorias)
                {
                    <option value="@categoria.Id">@categoria.Descripcion</option>
                }
            </InputSelect>
            <label for="urgencia">Urgencia</label>
            <InputSelect class="form-select" @bind-Value="Dto.UrgenciaID" id="urgencia">
                <option>-- Sin Opcion --</option>
                @foreach (var urgencia in TicketService.Urgencias)
                {
                    <option value="@urgencia.Id">@urgencia.Descripcion</option>
                }
            </InputSelect>
            <label for="zona">Zona</label>
            <InputSelect class="form-select" @bind-Value="Dto.ZonaID" id="urgencia">
                <option>-- Sin Opcion --</option>
                @foreach (var zona in TicketService.Zonas)
                {
                    <option value="@zona.Id">@zona.Descripcion</option>
                }
            </InputSelect>
            <label for="descripcion">Descripción</label>
            <InputText id="descripcion" class="form-control" @bind-Value="Dto.Descripcion"></InputText>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Nuevo Ticket</button>
    </EditForm>
}
@code {
    CreateTicketDto Dto = new CreateTicketDto();
    private bool isLoading = false;
    private int fabricaId = 0;
    private int lineaId = 0;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        await TicketService.GetFabricas();
        await TicketService.GetLinea();
        await TicketService.GetMaquina();
        await TicketService.GetCategorias();
        await TicketService.GetUrgencia();
        await TicketService.GetZona();
        isLoading = false;
    }

    async Task CreateTicket()
    {
        Dto.FechaCreacion = DateTime.Now;
        Dto.EstadoID = "0";
        //Dto.UsuarioID = 1;
        await TicketService.CreateTicket(Dto);
    }
}
